name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'

    - name: Check Node.js version
      run: node -v

    - name: Install npm dependencies
      run: npm install
    
    - name: Install dependencies
      run: npm ci
    
    - name: Run tests
      run: npm test

    - name: Run linter
      run: npm run lint