name: CI
on:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: Install dependencies
        run: npm ci

      - name: Run tests (Jest + Allure)
        run: npm test

      - name: Save Allure history from gh-pages
        uses: actions/checkout@v3
        if: always()
        with:
          ref: gh-pages
          path: gh-pages
        continue-on-error: true

      - name: Generate Allure report
        uses: andgineer/allure-report@v3
        if: always()
        with:
          allure-results: allure-results
          website: gh-pages
          reports-site-path: allure-report
          report-name: Allure Test Report

      - name: Publish Allure report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-report
