name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Run tests
        run: npm test

      - name: Upload Allure results
        uses: actions/upload-artifact@v3
        with:
          name: allure-results
          path: allure-results
          
  allure-report:
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - uses: actions/checkout@v3

      - name: Download allure results
        uses: actions/download-artifact@v3
        with:
          name: allure-results
          path: allure-results

      - name: Install Allure
        run: |
          sudo apt update
          sudo apt install -y default-jre
          npm install -g allure-commandline --save-dev

      - name: Generate Allure report
        run: allure generate allure-results --clean -o allure-report

      - name: Upload Allure HTML report
        uses: actions/upload-artifact@v3
        with:
          name: allure-report
          path: allure-report
