name: CI/CD PIPELINE

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.19.0

      - name: Install dependencies
        run: npm ci

      - name: Install Allure Commandline
        run: npm install -g allure-commandline

      - name: Run unit tests
        run: npm run test:unit -- --reporters=default --reporters=jest-junit

      - name: Run integration tests
        run: npm run test:integration -- --reporters=default --reporters=jest-junit

      - name: Run e2e tests
        run: npm run test:e2e -- --reporters=default --reporters=jest-junit

      - name: Run Lint
        run: npm run lint

      - name: Generate Allure Report
        if: always()
        run: |
          allure generate allure-results --clean -o allure-report || true

      - name: Upload Allure Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report