
name: CI # Nom du workflow
on:
  pull_request:
jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with : 
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm test
      - name: Lint
        run: npm run lint
