# .github/workflows/ci.yml
name: CI_First

on:
  pull_request:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: master
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Installe les dépendances
        run: npm ci
      - name: Exécute les tests
        run: npm test
      - name: Lint le code
        run: npm run lint
