name: CI
on:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Lint project
        run: npm run lint

      - name: Load test report history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Generate Allure report
        uses: andgineer/allure-report@v3
        with:
          allure-results: build/allure-results
          website: gh-pages
          reports-site-path: allure-history

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: allure-history
          path: allure-history

  publish:
    needs: tests
    runs-on: ubuntu-latest
    if: always() # exécuter même si tests échouent
    steps:
      - uses: actions/checkout@v3

      - name: Download report
        uses: actions/download-artifact@v4
        with:
          name: allure-history
          path: allure-history

      - name: Publish test report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
