name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci
      - name: Execute tests
        run: npm test 
      - name: Run Eslint
        run: npx eslint

