name: Pierrick

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Node.js from .nvmrc
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci
      # - name: Run tests
      #   run: npm test
      # - name: Lint code
      #   run: npm run lint
      - name: install Allure
        run: npm install -g allure@latest
      - name: Run tests with allure
        run: allure run -- npm test
        continue-on-error: true
      - run: allure generate allure-report/
      - name: Archive Allure report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report
